body{
	font-family: Arial, Verdana, sans serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	border: 5px solid lightgrey;
}
nav{
	background-color: white;
	width: 100%;
}
nav ul{
	padding: 0px;
	margin: 0px;
}
nav li{
	list-style-type: none;
	float: left;
}
nav a{	
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	padding: 50px 20px;
	color: black;
}
.table{
	display: table;	
	margin: 0 auto;
}
h3{
	padding-top: 50px;

}


.sec1{
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-image: url("fond.jpeg");
	height: 600px;
	padding-top: 150px;
	color: white;
	border: 4px solid lightgrey;
	height: 600px;
}
.sec1 h1{
	font-size: 20px;
	background-color: gray;
	margin: 0 auto;
	width: 25%;
	padding: 20px 30px;
	text-align: center;
	height: 30px;
}
.sec1 img{
	border-radius: 25px;
}




.sec2{
	height: 500px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.tsec2{
	display: table;
	margin: 0 auto;
	padding-top: 100px;
}
.programat, .desig, .market{
	padding: 10px 10px;
	width: 30%;
	float: left;
    display: inline-block;
}
.sec2 img{
	border: 1px solid darkgreen;
	border-radius: 200px;
	padding: 40px;
	width: 30%;

}
.ileft, .iright{
	text-align: center;
	font-size: 14px;
	width: 70%;
	margin: 0 auto;
	
}





.sec3{
	width: 100%;
	height: 900px;	
	background-color: lightgrey;
}
.sec3 h1{
	padding-top: 30px;
	height: 30px;
	font-size: 40px;
	text-align: center;
}
.two{
	width: 100%;
	background-color: lightgrey;
}
.nav{
	display: table;
	margin: 0 auto;
}
.nav a{
	font-size: 20px;
}
article{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
article img{
	width: 25%;
}






.sec4{
	text-align: center;
	height: 500px;
}
.sec4 h1{
	text-align: center;
	font-weight: bold;
	height: 50px;
	padding-top: 100px;
	font-size: 40px;
}
.logo{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.blocus{
    display: table;
    margin: 0 auto;
    
}
.blocus p{
    font-size: 15px; 
    display: inline-block; 
    padding: 10px 90px;
    width: 20%;
    text-align: justify;
}
.left, .right{
	float: left;
	width: 50%;
}
.container {
    background-color: rgb(192, 192, 192);
    width: 55%;
    border-radius: 15px;
  	margin: 0px 20px 10px 100px;        
}  
.html {
	width: 80%;
}
.xtml {
    width: 100%;
}  
.php {
    width: 90%;
}
.tml{
    width: 70%;
}
.skill {
    background-color: lightgray;
    padding: 2%;
    border-radius: 15px;
}








.sec5{
	width: 100%;
	height: 750px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #759580;
}
.sec5 h1{
	text-align: center;
	font-size: 30px;
	height: 50px;
	padding-top: 50px;
	color: white;
}
.sec5 p{
	padding-bottom: 100px;
	color: white;
}
.photo1, .photo2, .photo3, .photo4{
	display: inline-block;
	padding: 20px 20px;
}
.photos{
	display: table;
	margin: 0 auto;
}
.cleft, .cright{
	border: 1px solid white; 
	background-color: white;
}
.cright{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
}

.sec6{
	text-align: center;
	height: 400px;
}
.sec6 img{
	padding-top: 50px;
	border-radius: 3px;
}
.sec6 p{
	width: 100%;
	margin: 0 auto;
}

section h1{
	text-align: justify;
	font-weight: bold;
	font-size: 25px;
}

footer{
	width: 100%;
	height: 600px;
	background-color: lightgray;
	text-align: justify;
	padding: 0px;
	margin: 0px;
	font-weight: bold;

}
footer h3{
	font-size: 16px;
	text-align: center;
	padding: 50px;
	margin: 0 auto;
}
.form, .cont, .som, .eve{
	float: left;
	padding: 20px 50px;
}
.foot{
	display: table;
	margin: 0 auto;
}
.ft{
	width: 100%;
}
.fin p{
	font-weight: normal;
	font-size: 12px;
	text-align: center;
}
.cont{
	width: 15%;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 15px; 
        margin: 10px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    img{
    	
    }
}